/ColetaDosDados/build/
/ColetaDosDados/nbproject/private/
/Tribe_Code/build/
*/.idea/
.idea/*
/node_modules/
*/nbproject/private/*
Tribe_Code/nbproject/private/private.properties
HeatMap/data/*.mp4
HeatMap/data/*.tsv