/ColetaDosDados/dist/
/ColetaDosDados/build/
/ColetaDosDados/nbproject/private/
/Tribe_Code/build/
/Tribe_Code/dist/
*/.idea/
/node_modules/
*/nbproject/private/private.properties
Tribe_Code/nbproject/private/private.properties
